@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html {
  font-family: arial;
  line-height: 1.5;
}

body {
  padding: 0 300px;
  width: 50vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
  font-size: 1.6rem;
  font-weight: bold;
}

nav header {
  width: 100vw;
  padding-top: 15px
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  padding-left: 20px;
}

.nav-link {
  position: relative;
  display: block;
}

.nav-link:hover {
  color: black;
  background-color: #f2f2f2;
}

.personnel {
  font-weight: bold;
}

code {
  background-color: #f1f1f1;
}

#intro-text {
  padding-bottom: 25px;
}

.spacer {
  padding-bottom: 25px;
}

a {
  color: black;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 5px;
}

.dent {
  padding-left: 5px;
}